<!DOCTYPE html>
<html>
<head>
    <title>Design Digest - My Blog</title>
    <link rel="stylesheet" type="text/css" href="blog-styles.css">
</head>
<body>
    <header>
        <h1>Design Digest</h1>
    </header>

    <article class="blog-post">
        <h2 class="blog-title">Design Digest #80</h2>
        <p class="blog-meta">Published on February 23, 2022</p>

        <div class="blog-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae scelerisque nisl. Sed viverra
                condimentum nunc, id gravida risus aliquet eu. Etiam eu risus eget elit fringilla ullamcorper
                ullamcorper at magna. Fusce efficitur, nulla sit amet commodo rutrum, metus ligula aliquam ex,
                aliquet finibus justo diam at neque.</p>

            <p>Mauris vulputate dapibus interdum. Sed ac iaculis sem. Integer rhoncus ultrices est, eu efficitur
                sem vulputate vitae. Vivamus tincidunt neque non odio hendrerit, nec euismod tellus ultrices.
                Mauris congue nulla id purus fermentum tristique. Nulla in tempor mi, ut fringilla orci. Sed ac
                sapien et mi euismod efficitur in id libero.</p>
        </div>
    </article>
</body>
</html>
